
// Variables globales

// Despues de cada nombre de etiqueta, clase o id, se presiona enter + tab y se empiezan a escribir los atributos, el uso de tab es indispensable
// Sass necesita de un espacio en blanco luego despues de los dos puntos de su atributo, como se ve debajo, 'display: flex' tiene un espacio entre los dos puntos y el valor flex
// Sass no usa ; ni {}

$blue: #435b71 //Azul oscuro
$green: #40b883 //Verde
$green_hover: #39a576 //Verde hover  
$white: #f8f8f8 //blanco viejo (background)
$alt_white: #f2f2f2 //hover del blanco viejo
$grey: rgba(67,91,113,.5) //gris transparentoso (font)
$table_border: 1px solid #ccc;